# --- Dependencias  ---
node_modules/

# --- Seguridad y Claves ---
.env
config/serviceAccountKey.json
serviceAccountKey.json
firebase-debug.log

# --- Archivos de Sistema Operativo  ---
.DS_Store
Thumbs.db

# --- Logs de errores ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*

