body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container img {
  width: 150px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ff6f61;
}

.featured {
  padding: 50px 20px;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

#heroSlider {
  display: flex;
  overflow: auto;
  gap: 20px;
}

.hero-image {
  width: 300px;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.hero-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}

.game-logo {
  width: 50px;
  margin-bottom: 10px;
}

.game-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.more-btn {
  background-color: #ff6f61;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
}

.more-btn:hover {
  background-color: #d55d50;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}
